<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DB Users</title>
</head>
<body>
<h1>Data Base Users</h1>
<table border="1" style="width:300px">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Age</td>
    </tr>
    <tr th:each="user : ${ListOfUsers}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getAge()}"></td>
    </tr>
</table>
<br>
    <form th:action="@{/new}" th:method="GET">
       <button type="submit">Добавить пользователя</button>
    </form>
<br>
    <form th:action="@{/edit}" th:method="GET">
        <button type="submit">Изменить пользователя</button>
    </form>
<br>
<form th:method="delete" th:action="@{/delete}">
    <button type="submit">Удалить пользователя</button>
</form>
</body>
</html>